//项目提供scss全局变量
//定义项目主题颜色

//左侧的菜单的宽度
$base-menu-width:260px;
$base-menu-min-width:60px;
//左侧菜单的背景颜色
$base-menu-background:#408d86;


// 顶部导航的高度
$base-tabbar-height:50px;
$base-tabbar-background:#43A49B;
// $base-tabbar-background:linear-gradient(to right,rgb(255, 163, 179), rgb(124, 124, 234), pink);

//左侧菜单logo高度设置
$base-menu-logo-height:50px;

//左侧菜单logo右侧文字大小,颜色
$base-logo-title-fontSize:20px;
$base-logo-title-color:#fff;